<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.datawerk.cordova.plugin.cryptohelper"
        version="1.0.0">

  <name>Crypto Helper Plugin</name>

  <description>
    This plugin allows using crypto from a native implementation
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.1.0"/>
  </engines>

  <js-module src="www/crypto-helper.js" name="CryptoHelper">
    <clobbers target="CryptoHelper"/>
  </js-module>
    
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="cryptoHelper">
      	  <param name="android-package" value="de.datawerk.cordova.plugin.cryptohelper.CryptoHelper" />
      </feature>
    </config-file>

    <source-file src="src/android/com/neilalexander/jnacl/NaCl.java" target-dir="src/com/neilalexander/jnacl/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/curve25519.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/curve25519xsalsa20poly1305.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/hsalsa20.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/poly1305.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/salsa20.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/verify_16.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/xsalsa20.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
    <source-file src="src/android/com/neilalexander/jnacl/crypto/xsalsa20poly1305.java" target-dir="src/com/neilalexander/jnacl/crypto/"/>
        	
	<source-file src="src/android/de/datawerk/cordova/plugin/cryptohelper/CryptoHelper.java" target-dir="src/de/datawerk/cordova/plugin/cryptohelper/"/>	
        
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="cryptoHelper">
        <param name="ios-package" value="CryptoHelper"/>
      </feature>
    </config-file>

	<source-file src="src/ios/libs/libcrypto-sdk.a" framework="true" />
	<!--<source-file src="src/ios/libs/libPods.a" framework="true" />
	<source-file src="src/ios/libs/libPods-libsodium-ios.a" framework="true" />-->

    <header-file src="src/ios/AeroGearCrypto.h"/>
    <header-file src="src/ios/AGCryptoBox.h"/>
    <header-file src="src/ios/AGHash.h"/>
    <header-file src="src/ios/AGKeyPair.h"/>
    <header-file src="src/ios/AGPBKDF2.h"/>
    <header-file src="src/ios/AGRandomGenerator.h"/>
    <header-file src="src/ios/AGSecretBox.h"/>
    <header-file src="src/ios/AGSigningKey.h"/>
    <header-file src="src/ios/AGUtil.h"/>
    <header-file src="src/ios/AGVerifyKey.h"/>
    
    <header-file src="src/ios/libsodium-ios/sodium/crypto_box_curve25519xsalsa20poly1305.h" target-dir="libsodium-ios/sodium"/>
	<header-file src="src/ios/libsodium-ios/sodium/export.h" target-dir="libsodium-ios/sodium"/>

	<source-file src="src/ios/CryptoHelper.m"/>
    <header-file src="src/ios/CryptoHelper.h"/>
  </platform>

</plugin>
